<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://angular-btvqwe.stackblitz.io">
</head>

<body>



  <form style="width: 400px;" class="form-group" [formGroup]="feedbackgroup">
    <fieldset>
      <legend>Ajouter un feedback</legend>
     
      <br>
      Message:
      <input class="form-control" formControlName="body" name="body" [(ngModel)]="feedback.body" type="text">

      <br>
      Note:
   
        <ngb-rating [max]="5" [(rate)]="currentRate" formControlName="note"  name="note" [readonly]="false" [(ngModel)]="feedback.note"></ngb-rating>
      <p>Note : {{currentRate}}</p>
      <br>
      Plat:
      <select id="plat_id" name="plat_id" [(ngModel)]="feedback.plat_id" formControlName="plat_id" class="form-control">
        <option value="" disabled>Sélectionnez votre Plat</option>
        <option *ngFor="let item of plats" [value]="item.nom">
          {{item.nom}}
        </option>
      </select><br>
      <button class="btn btn-outline-info" (click)="save()">Sauvegarder</button>
    </fieldset>
  </form>

</body>

</html>
