<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto</title>
</head>
<body>
    <div class="form-group w-25 mx-5 my-3">
        <h4>Chercher Plat : </h4>
        <input type="text" class="form-control my-3" for="inputLarge" placeholder="Chercher votre plat.." [(ngModel)]="term">
     </div>
    <ul class="list-group">

      
                 <li class="list-group-items btn btn-outline-primary w-50 my-3 align-self-center" *ngFor="let plat of listPlats | filter: term">
                    <p class="text-info bold">{{plat.nom | uppercase}}</p>
                    <p> Prix : {{plat.prix}} DT</p>
                    <p>Type du plat : {{plat.type_plat}}</p>
                 </li>
           
      </ul>
      <app-menu></app-menu>
</body>
</html>