<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://angular-btvqwe.stackblitz.io">
</head>

<body>

  <button class="btn btn-info">Calculer</button>


  <form style="width: 400px;" class="form-group" [formGroup]="feedbackgroup">
    <fieldset>
      <legend>Ajouter un feedback</legend>
     
      <br>
      Message:
      <input class="form-control" formControlName="body" name="body" [(ngModel)]="feedback.body" type="text">

      <br>
      Note:
      <input class="form-control" formControlName="note" [(ngModel)]="feedback.note" name="note" type="number">
   
      <br>
      Plat:
      <select id="plat_id" name="plat_id" [(ngModel)]="feedback.plat_id" formControlName="plat_id" class="form-control">
        <option value="" disabled>Sélectionnez votre Plat</option>
        <option *ngFor="let item of plats" [value]="item.id">
          {{item.nom}}
        </option>
      </select>
      <button class="btn btn-outline-info" (click)="update()">Sauvegarder</button>
    </fieldset>
  </form>
 
</body>

</html>
