<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Plat</title>
    <link rel="stylesheet" href="add-plat.component.css">
</head>

<body>
    <form style="width: 400px;" class="form-group mx-4 my-3" [formGroup]="PlatGroup">
        <fieldset>
            <legend>Ajouter un plat</legend>

            
            Nom:
            <input class="form-control" formControlName="nom" name="nom" [(ngModel)]="plat.nom" type="text">
            <div *ngIf="nom.invalid">
                <div *ngIf="nom.touched">
                    <p class="alert alert-warning" role="alert">Champ Obligatoire</p>
                </div>

                <div *ngIf="nom.errors?.minlength">
                    <p class="alert alert-danger" role="alert">MinLength 3 chars</p>
                </div>

            </div>
            <br>
            Prix:
            <input class="form-control" formControlName="prix" [(ngModel)]="plat.prix" name="prix" type="text">
            <div *ngIf="prix.invalid">
                <div *ngIf="prix.touched">
                    <p class=" alert alert-danger" role="alert">Champ Obligatoire</p>
                </div>
            </div>
            <br>
           Type Plat:
            <select id="typeplat" name="typeplat" [(ngModel)]="plat.type_plat" formControlName="type_plat"
                class="custom-select">
                <option disabled selected>Open this select menu</option>
                <option *ngFor="let item of typeplats" [value]="item.nom">
                    {{item.nom}}
                </option>
            </select>
            <br>
            <button class="btn btn-outline-info" (click)="save()">Sauvegarder</button>
        </fieldset>
    </form>

</body>

</html>