<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  
</head>
<body data-spy="scroll" data-target="#navbarS">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbarS">
    <a [routerLink]="['/']"><img class="navbar-brand" src="assets/foodlogo.png"  width="60px"></a>
    <button class="navbar-toggler"  data-toggle="collapse" data-target="#navbarColor01" >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil
           
          </a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/type']">Type Plat</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/plats']">Plats</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/feedbacks']">Feedback</a>
        </li>
        
      </ul>
     
    </div>
</nav>

<router-outlet></router-outlet>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
</script>
</body>
</html>